 h1 {
    text-align: center;
    border: thick ridge black;
    border-width: .4em;
    margin-left: 30%;
    margin-right: 30%;
}

#image-container {
    width: 500px;
    margin: auto;
}
 
 img#class-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    border: ridge tan;
    border-width: 10px;
    background-image: url(p1_project_photos/backgroundimage.png);
}

.character-button {
    float: center;
}

#class-title {
    text-align: center;
    text-transform: capitalize;
}

#class {
    margin: auto;
    width: 50%;
    float: center;
}

button {
    border-radius: 10px;
    text-transform: capitalize;
    background-color: rgb(194, 175, 135);
    margin: 2px;
    width: 80%;
    height: 100%;
    font-size: medium;
}

#buttons {
    float: left;
    width: 10%;
    text-align: center;
    border: medium ridge red;
    border-radius: 20px;
    border-width: .2em;
    background-color: black;
}

body {
    padding: 25px;
    background-image: url("p1_project_photos/ice2_background_base.png");
    background-color: rgb(240, 235, 214);
    font-size: 25px;
}

.dark-mode {
    background-image: url("p1_project_photos/ice2_background_base.png");
    color: white;
}

.ability-details {
    font-weight: normal;
    font-size: 20px;
}